/* Elementos Gerais */
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */
header{
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
}

header img{
    width: 30px;
    margin-right: 10px; 
}

header nav{
    display: none;
}

/* Banner */
.banner{
    background-image: url(imagens/banner.jpeg);
    overflow: auto;
    color: white;
    background-size: 100%;
    background-position: center;
}

.banner div{
    margin: 100px auto;
    width: 300px;
}


@media(min-width: 680px){
    header img {
        display: none;
    }

    header nav{
        display: block;
    }

    .banner div{
        margin: 150px auto;
    }
}