/* Elementos Gerais */
body{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Header */
header{
    background-color: #dedede;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header div{
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
}

header img{
    width: 30px;
    margin-right: 10px; 
}

header nav{
    display: none;
}

/* Container */
.container{
    max-width: 1200px;
    margin: 20px auto;
}

/* Banner */
.banner{
    background-image: url(imagens/banner.jpeg);
    overflow: auto;
    color: white;
    background-size: 100%;
    background-position: center;
}

.banner div{
    margin: 60px auto;
    max-width: 500px;
    padding: 20px;
}

.banner h2{
    font-size: 30px;
    margin: 5px;
    text-shadow: 0 0 10px black;
}

.banner input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Destaques */
.destaques{
    display: flex;
}

.destaques div{
    width: 50%;
    padding: 30px;
}

.destaques div img{
    width: 100%;
}

@media(min-width: 680px){
    header img {
        display: none;
    }

    header nav{
        display: block;
    }

    .container{
        display: flex;
    }

    .banner{
        width: 70%;
    }

    .banner div{
        margin: 150px auto;
    }

    .destaques{
        width: 30%;
        display: block;
    }

    .destaques div{
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        padding-left: 20px;
    }
}